# preprocesamiento datos test y train

In [30]:
import numpy as np 
import pandas as pd 

#Carga de datos
# ruta de los datos
ruta_train=r"/home/leomorya/proyecto_final_metodologias/data/train.csv"
ruta_test=r"/home/leomorya/proyecto_final_metodologias/data/test.csv"
# cargando los datos 
df_train = pd.read_csv(ruta_train)
df_test = pd.read_csv(ruta_test)

In [31]:
# llamamos el paquete
import sys
# colocamos la ruta del paquete a python 
sys.path.append('/home/leomorya/proyecto_final_metodologias/tdsp_template/scripts')

In [32]:
from funciones_y_paquetes.funcion_de_preprocesamiento import preprocesamiento

In [33]:
df_train_prep = preprocesamiento(df_train)
df_test_prep = preprocesamiento(df_test)

Podemos ver el resultado de el preprocesamiento

In [34]:
df_train_prep.describe()

,ID,Edad,Campana,Dias_Ultima_Camp,No_Contactos,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
count,23099.000000,23099.000000,23099.000000,23099.000000,23099.000000,23099.000000,23099.000000,23099.000000,23099.000000,23099.000000,23099.000000
mean,16420.136499,40.067665,2.560154,0.963721,0.171003,0.095649,93.581585,-40.485237,3.634160,5167.329439,0.112126
std,9521.074915,10.449983,2.756954,0.186987,0.494079,1.565650,0.577424,4.629643,1.731184,72.260805,0.315528
min,1.000000,18.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000,0.000000
25%,8158.000000,32.000000,1.000000,1.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000,0.000000
50%,16375.000000,38.000000,2.000000,1.000000,0.000000,1.100000,93.876000,-41.800000,4.857000,5191.000000,0.000000
75%,24644.500000,47.000000,3.000000,1.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000,0.000000
max,32967.000000,95.000000,42.000000,1.000000,6.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000,1.000000

In [35]:
df_test_prep.describe()

,ID,Edad,Campana,Dias_Ultima_Camp,No_Contactos,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
count,9868.000000,9868.000000,9868.000000,9868.000000,9868.000000,9868.000000,9868.000000,9868.000000,9868.000000,9868.000000
mean,16633.491589,39.959161,2.603668,0.962809,0.175111,0.059668,93.568839,-40.567035,3.594977,5166.527604
std,9505.916356,10.411015,2.866068,0.189239,0.493333,1.579210,0.580306,4.606483,1.743634,72.105792
min,5.000000,17.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,8415.250000,32.000000,1.000000,1.000000,0.000000,-1.800000,93.075000,-42.700000,1.334000,5099.100000
50%,16761.500000,38.000000,2.000000,1.000000,0.000000,1.100000,93.444000,-41.800000,4.857000,5191.000000
75%,24915.250000,47.000000,3.000000,1.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,32961.000000,98.000000,43.000000,1.000000,6.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

Ahora guardemos los datos preprocesados

In [36]:
df_train_prep.to_csv('/home/leomorya/proyecto_final_metodologias/data/datos_preprocesados_train.csv', index=False)

In [37]:
df_train_prep.to_csv('/home/leomorya/proyecto_final_metodologias/data/datos_preprocesados_test.csv', index=False)